<div>
  <h1 style="color: #fab82d">Checkout Demo <span style="all: initial;"> v3.6.20230207</span></h1>
</div>

<div class="container padding-top-10">
  <div class="row">
    <div class="col-sm-6">
      <div id="transaction">
        <h3 style="color: #5d63a8">Merchant Information</h3>
        <div class="row">
          <div class="col-50 padding-left-15" >
            <label>Merchant Name</label>
            <select id='merchant' class="form-control" name='people' *ngIf="isMasterMerchant">
              <option *ngFor="let item of merchants" [value]="item.value">
                {{item.text}}
              </option>
            </select>
            <div class="form-control" *ngIf="isMasterMerchant == false">Demo</div>
          </div>
        </div>
        <div style="padding-bottom: 30px" class="row">
          <div class="col-50 padding-left-15">
            <label>Integration Methods</label>
            <select id="integrationMethods" class="form-control" name="integrationMethods" [(ngModel)]="integrationMethod"
                    (change)="filterMethod($event.target)">
              <option *ngFor="let item of UPC.integrationMethods | keyvalue:sortOptions" [value]="item.value.value"
                      [selected]="item.value.isDefault">
                {{item.value.text}}
              </option>
            </select>
          </div>
          <div class="col-50 padding-left-15">
            <label>API Operations</label>
            <select id="apiOperationMethod" class="form-control" name="apiOperationMethod" [(ngModel)]="apiOperationMethod">
              <option *ngFor="let item of UPC.apiOperationMethod | keyvalue:sortOptions" [value]="item.value.value"
                      [selected]="item.value.isDefault">
                {{item.value.text}}
              </option>
            </select>
          </div>
        </div>

        <h3 style="color: #5d63a8">Order Information</h3>
        <form method="post" action="#">
          <div>
            <div class="row">
              <div class="col-100 padding-left-15">
                <label>Order Number</label>
                <input class="form-control" type="text" id="orderNumber" name="orderNumber" [(ngModel)]="orderNumber"
                       placeholder="Order Number"/>
              </div>
            </div>

            <div class="row">
              <div class="col-50 padding-left-15">
                <label>Amount <span style="color:red;">*</span></label>
                <input class="form-control" type="text" id="orderAmount" name="orderAmount" [(ngModel)]="orderAmount"
                       (change)="transformAmount($event)"/>
              </div>
              <div class="col-50 padding-left-15">
                <label>Currency <span style="color:red;">*</span></label>
                <select class="form-control" id="orderCurrency" name="orderCurrency" [(ngModel)]="orderCurrency"
                        (change)="transformAmount($event)">
                  <option *ngFor="let item of currencyOption" [value]="item.value">
                    {{item.text}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-50 padding-left-15">
              <label>Description</label>
              <input class="form-control" id="orderDescription" name="orderDescription" placeholder="Description"
                     [(ngModel)]="orderDescription"/>
            </div>
            <div class="col-50 padding-left-15">
              <label>Language <span style="color:red;">*</span></label>
              <select class="form-control" id="language" name="language" [(ngModel)]="lang">
                <option value="vi" selected="selected">Tiếng Việt</option>
                <option value="en">English</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div>
                <label>Extra Data (JSON)</label>
                <textarea name="extraData" id='extraData' placeholder="Extra data" rows="10" [(ngModel)]="extra"
                          class="form-control"></textarea>
              </div>
            </div>
          </div>
        </form>
        <br/>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="padding-left-20">
        <h3 style="color: #5d63a8">Callback Information</h3>
        <div style="padding-bottom: 30px" class="row">
          <div class="col-50 padding-left-15">
            <label>Result URL</label>
            <input class="form-control" type="text" id="successURL" name="successURL" placeholder="Result URL"
                   [(ngModel)]="successURL"/>
          </div>
          <div class="col-50 padding-left-15">
            <label>Cancel URL</label>
            <input class="form-control" type="text" id="cancelURL" name="cancelURL" placeholder="cancel URL"
                   [(ngModel)]="cancelURL"/>
          </div>
          <div class="col-50 padding-left-15">
            <label>IPN URL</label>
            <input class="form-control" type="text" id="ipnURL" name="ipnURL" placeholder="IPN URL"
                   [(ngModel)]="ipnURL"/>
          </div>
        </div>

        <h3 style="color: #5d63a8">Payment Information</h3>
        <div class="row" [hidden]="isPayWithOption">
          <div class="col-100 padding-left-15">
            <label>Payment Methods <span style="color:red;">*</span></label>
            <select class="form-control" name="paymentMethods" id="paymentMethods" [(ngModel)]="paymentMethod"
                    (change)="filterProvider($event.target)">
              <option *ngFor="let item of UPC.paymentMethods | keyvalue:sortOptions" [value]="item.value.value"
                      [selected]="item.value.isDefault">
                {{item.value.text}}
              </option>
            </select>
          </div>
        </div>
        <div class="row" [hidden]="isPayWithOption">
          <div class="col-100 padding-left-15">
            <label>Service Provider <span style="color:red;">*</span></label>
            <select id='paymentSources' class="form-control" name='paymentSources' [(ngModel)]="paymentSource"
                    (change)="filterPaymentSource()">>
              <option *ngFor="let item of paymentSourceOptions | keyvalue:sortOptions" [value]="item.value.value">
                {{item.value.text}}
              </option>
            </select>
          </div>
        </div>

        <div [hidden]="isDisableHosted">
          <div class="row">
            <div class="col-100 padding-left-15">
              <label>Source Of fund <span style="color:red;">*</span></label>
              <select id="sourceOfFund" class="form-control" name="sourceOfFund" [(ngModel)]="sourceOfFund"
                      (change)="filterSourceOfFund($event.target)">
                <option *ngFor="let item of UPC.sourceOfFund | keyvalue:sortOptions" [value]="item.value.value"
                        [selected]="item.value.isDefault">
                  {{item.value.text}}
                </option>
              </select>
            </div>
          </div>

          <div class="row" [hidden]="isDisableToken">
            <div class="col-100 padding-left-15">
              <label>Token <span style="color:red;">*</span></label>
              <input class="form-control" type="text" id="token" name="token" [(ngModel)]="token"/>
            </div>
          </div>

          <div [hidden]="isCardInfo">
            <div class="row">
              <div class="col-50 padding-left-15">
                <label>Card Number <span style="color:red;">*</span></label>
                <input class="form-control" type="text" id="cardNumber" name="cardNumber" [(ngModel)]="cardNumber"/>
              </div>
              <div class="col-50 padding-left-15">
                <label>Card Holder Name <span style="color:red;">*</span></label>
                <input class="form-control" type="text" id="cardHolderName" name="cardHolderName"
                       [(ngModel)]="cardHolderName"/>
              </div>
            </div>

            <div class="row">
              <div class="col-50 padding-left-15">
                <label>{{labelCardDate}} <span style="color:red;">*</span></label>
                <input class="form-control" type="text" id="cardExpireDate" name="cardExpireDate"
                       [(ngModel)]="cardExpireDate"/>
              </div>
              <div class="col-50 padding-left-15" [hidden]="isCVV">
                <label>CVV <span style="color:red;">*</span></label>
                <input class="form-control" type="text" id="cardVerificationValue" name="cardVerificationValue"
                       [(ngModel)]="cardVerificationValue"/>
              </div>
            </div>
          </div>
        </div>

        <br/>
        <div class="form-group">
          <div class="twelve columns">
            <button class="btn btn-primary" [disabled]="isDisabledButton" (click)="inProcess()"><i
              class="fa fa-spinner fa-spin" *ngIf="loading"></i> Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
